@model Employee
@{
    ViewBag.Title = "Edit user";
}

<h2>Edit user</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Employee" method="post">
            <input type="hidden" asp-for="Id"></input>
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" autocomplete="on">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname">Surname</label>
                <input asp-for="Surname" class="form-control" autocomplete="off">
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Age">Age</label>
                <input asp-for="Age" type="number" class="form-control" autocomplete="off">
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender">Gender</label>
                <select asp-for="Gender" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="DepartmentId">Department</label>
                <select asp-for="DepartmentId" class="form-control">
                    <option value="">-- Select Department --</option>
                    @foreach( var department in ViewBag.Departments ) {
                        <option value="@department.Id">@department.Floor</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="ProgrammingLanguageId">Programming Language</label>
                <select asp-for="ProgrammingLanguageId" class="form-control">
                    <option value="">-- Select Programming Language --</option>
                    @foreach( var programmingLanguage in ViewBag.ProgrammingLanguages ) {
                        <option value="@programmingLanguage.Id">@programmingLanguage.Name</option>
                    }
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-dark" style="font-size">Add</button>
                <a asp-action="Index" asp-controller="Employee" class="btn btn-sm">Cancel</a>
            </div>
        </form>
    </div>
</div>
